.c-item {
    height: 480px;
}

.c-img {
    height: 100%; /* 100 of c-item */
    object-fit: cover; /* to preserve aspect ratio */
    
}

.overview {
    height: 180px;
    background-color:rgb(241, 241, 241);
}

.perfume-logo {
    margin-right: 8px;
    margin-bottom: 4px;
}



