/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* GLOBAL */
:root {
  --color-brown: #57321d;
  --color-yellow: #f9db53;
  --color-pink: #ba4e75;
  --color-orange: #eea04c;
  --color-blue: #a1cad1;
  --color-green: #8eb6a5;
  --color-grey: #d9d9d9;
}

body {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: #f6f2f0;
}

.nav {
  height: 5%;
}

.header {
  margin-right: auto;
  margin-left: auto;
  width: 400px;
}

.decoration {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.decoration__rectangle {
  width: 65px;
  height: 35px;
}

.decoration .decoration__rectangle:nth-child(1) {
  background: var(--color-brown);
}

.decoration .decoration__rectangle:nth-child(2) {
  background: var(--color-yellow);
}

.decoration .decoration__rectangle:nth-child(3) {
  background: var(--color-pink);
}

.decoration .decoration__rectangle:nth-child(4) {
  background: var(--color-blue);
}

.decoration .decoration__rectangle:nth-child(5) {
  background: var(--color-green);
}
